.topbar {
    padding: rem(11px) 0;
    border-bottom: 1px solid #ededed;
    position: relative;
    z-index: 50;
    background-color: $white;

    ~.xs-jumbotron {
        margin-top: rem(-84px);
    }
}

.top-info {
    @include remove-list-sltye();

    >li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: rem(35px);

            @include tablet {
                margin-right: rem(10px);
                font-size: rem(12px);
            }
        }

        color: #565872;

        >i {
            color: #042ff8;
        }
    }
}