.xs-breadcrumblist {
    @include remove-list-sltye;
    color: $white;

    >li {
        display: inline-block;

        &:not(:last-child) {
            padding-right: 13px;
        }

        &:not(:first-child) {
            padding-left: 13px;
        }

        >a {
            color: inherit;
        }
    }
}